	//  ######   ######## ##    ## ######## ########     ###    ##       
// ##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
// ##        ##       ####  ## ##       ##     ##  ##   ##  ##       
// ##   #### ######   ## ## ## ######   ########  ##     ## ##       
// ##    ##  ##       ##  #### ##       ##   ##   ######### ##       
// ##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
//  ######   ######## ##    ## ######## ##     ## ##     ## ######## 

* {
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
}

.noEvents {
	pointer-events: none!important;
}

.artist-slider-yay {
	opacity: 1;
	transform: translateX(0%);
	transition: opacity .2s linear 0s, transform 0s linear 0s;
}

.artist-slider-yay.goAway {
	opacity: 0;
	transform: translateX(-100%);
	transition: opacity .2s linear 0s, transform 0s linear .2s;
}



img, iframe, table {
	max-width: 100%;
}

img {
	height: auto;
}

html {
	font-family: "eb-garamond";
	font-weight: normal;
	scroll-behavior: smooth;
}

.mobile-show {
	display: none;
	@include breakpoint($phone) {
		display: block;
	}
}

.mobile-hide {
	display: block;
	@include breakpoint($phone) {
		display: none;
	}
}

body {
	font-size: 17px;
}

.sans {
	font-family: "futura-pt"!important;
}

.bold {
	font-weight: 700;
}

a {
	color: $red;
	color: $blue;
}

.iframefix {
	position: relative;
	padding-bottom: 60%;
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%;
	}
}

// main list-style-position: 

.entry-content h3.gform_title {
	color: #333;
	font-weight: normal;
	// font-family: "eb-garamond";
	font-family: futura-pt;
	font-weight: bolder;
	text-transform: none;
	font-size: 24px!important;	
	color: $blue;
	// font-weight: normal!important;
	// font-size: 1.6em!important;
}

body {
	overflow-x: hidden;
	.noScroll &{
		position: fixed;
	}
}
html.noScroll {
	position: fixed;
}

.content-wrapper {
	max-width: $site-width;
	margin: 0 auto;
	display: flex;
}

.main {
	flex: 1 1 auto;
	padding: 0 20px 20px;

}

.sidebar {
	padding: 30px;
	padding-left: 0;
	flex: 0 0 280px;
	border-right:1px solid $ltgray;
	order:-1;
}

//header

.header-wrapper {
	padding: 0 1rem;
	box-shadow:
  0 0px 1px rgba(0, 0, 0, 0.024),
  0 0px 3.4px rgba(0, 0, 0, 0.036),
  0 0px 15px rgba(0, 0, 0, 0.06)
;
	@include breakpoint($phone) {
		position: sticky;
		top: 0;
		z-index: 20;
		background: #fff;
		

	}
}

.header-inner {
	padding: 20px 10px;
	max-width: $site-width;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	// border-bottom: 1px solid $ltgray;
	.home & {
		border-bottom: 0;
	}
	@include breakpoint($phone) {
		display: block;
	}
}

.logo {
	max-width: 320px;
	margin: 10px 0;
	svg {
		path {
			fill: #333;
		}
		width: 100%;
		height: auto;
		display: block;
	}
	@include breakpoint($phone) {
		// margin-left: auto;
		max-width: 260px;
		margin-bottom: 0;
		// margin-right: auto;
		// margin-bottom: 0;
	}
}

html {
	.flickity-page-dots {
		bottom: 15px;
		.dot {
			background:#fff;
		}
	}
	.flickity-prev-next-button .flickity-button-icon {
		opacity: .5;
	}
}

#menu-toggle {
	width: 25px;
	height: 25px;
	background: url(images/doodad.svg) 50% 50% no-repeat; 
	position: absolute;
	top: 30px;
	right: 30px;
	display: none;
	@include breakpoint($phone) {
		display: block;
	}
}

// menu

.navigation-inner {
	max-width: $site-width;
	margin: 0 auto;
	padding: 5px 15px;
	display: flex;
	font-family: "futura-pt";
	@include breakpoint($phone) {
		display: block;
		// padding-top: 40px;
	}
}

.menu-main-menu-container {
	.menu {
		@include breakpoint($phone) {
			display: none;
			margin-top: 30px;
		}
		line-height: 1;
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			@include breakpoint($phone) {
				display: block;
			}
			&.current-menu-item {
				a {
					color: $blue;
				}
			}
			a {

				display: block;
				line-height: 1;
				padding: 6px 6px;
				font-size: 14px;
				text-transform: uppercase;
				color: $dkgray;
				text-decoration: none;
				transition:.2s;
				@include breakpoint($phone) {
					font-size: 18px;
				}
				&:hover {
					color: $blue;
				}
			}
		}
	}
}

.phone-contact-button {
	color: $gray;
	display: flex;
	align-items:center;
}

.contact-button {
	margin-left: 15px;
	text-decoration: none;
	background:linear-gradient(tint($ltgray, 20%), tint($ltgray, 50%));
	border:1px solid $ltgray;
	box-shadow:0px 1px 10px rgba($gray, .4);
	white-space: nowrap;
	color: $gray;
	display: block;
	padding: 6px 9px;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 40px;
	transition:.2s;
	&:hover {
		box-shadow: 0px 0px 20px 2px  rgba($blue, 1);
	}
}

.single-exhibition .gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	.gallery-item {
		max-width: 180px;
		margin:10px;
		img {
			width: 100%;
		}
		.gallery-caption {
			white-space: pre-line;
			margin-top: -1.1em;
		}
	}
		@supports (display: grid) {
		margin: 0;
		display:grid;
		grid-gap:20px;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		@include breakpoint($phone) {
			// grid-template-columns: 1fr 1fr 1fr;
		}
		.gallery-item {
			display: flex;
			flex-direction: column;
			max-width: none;
			margin: 0;
			img {
				// outline: thin red dotted;
				width: 100%;
			}
		}
	}
}

.single-exhibition .entry-title {
	font-family: futura-pt;
	font-size: 21px;
	text-transform: uppercase;
}

.single-exhibition .entry-content h2 {
	font-weight: normal;
	font-size: 32px;
	color: #333;
	margin-bottom: .25em;
	strong {
		font-weight: normal;
	}
}

// page stuff

.slide {
	width: 100%;
	img {
		display: block;
		width: 100%;
	}
}

.readmore {
	text-decoration: none;
	font-family: "Helvetica";
	margin-top: 1em;
}

.presspage {
	line-height: 1.4;
}

.presspage-article {
	display:flex;
	.leftside {
		margin-right: 20px;
		width: 200px;
		flex: 0 0 250px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.rightside {
		flex: 1 1 auto;
		> .sans .sans {
			font-weight: bold;
			text-decoration: none;
		}
		.entry-title.sans.bold {
			line-height: 1.4;
		}
	}
	@include breakpoint($phone) {
		display: block;
		.leftside {
			margin-right: 0;
			width: auto;
		}
	}
}

.navigation.pagination {
	text-align: center;
	padding: 1rem 0;
	a, span {
		text-decoration: none;
		display: inline-block;
		font-family: futura-pt;
		font-weight: bold;
		font-size: 1.2em;
		padding: .2em;
	}
}


.sub-artist-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:baseline;
	flex-wrap:wrap;
	// position: sticky;
	// top: 0;
	// background: #fff;
	.entry-title {
		margin-right: 1em;
		font-size: 28px;
	}
	> div {
		font-family: "futura-pt";
		font-size: 16px;
		text-transform: uppercase;
		a {
			color: #000;
			text-decoration: none;
			margin-right: 1em;
			&:hover {
				color: $red;
				color: $blue;
			}
		}
	}
	padding-bottom: 10px;
	border-bottom: 1px solid $ltgray;
	margin-bottom: 1rem;
	// margin-top: -10px;
}

#totop {
	margin-left: auto;
	opacity: 0;
}

.content-column.one_half {
	// outline: thin red dotted;
	width: 47.5%;
	margin-right: 2.5%;
	> div {
		padding: 0 !important;
	}
	@include breakpoint($phone) {
		width: 100%;
		float: none;
		margin: 0;
	}
}

.content-column.last_column {
	margin-right: 0;
	margin-left: 2.5%;
	@include breakpoint($phone) {
		margin: 0;
		margin-top: 2rem;
	}
}

.entry-title {
	margin-top: 20px;
	font-size: 32px;
	color: $gray;
	line-height: 1.1;
	color: #000;
	font-family: "eb-garamond";
	margin-bottom: .5em;
	a {
		color: inherit;
		text-decoration: none;
	}
	.pre-title {
		font-size: .575em;
		margin-bottom: .2em;
		font-family: futura-pt;
		text-transform: uppercase;
	}
}

h2.entry-title {
	font-size: 24px;
}

.entry-title-flex {
	display: flex;
	align-items:baseline;
	> a {
		color: inherit;
		text-decoration: none;
		margin-left: 1.5em;
		color: $gray;
		&:hover {
			color: #000;
		}
	}
}

.presspage h2.entry-title {
	font-weight: bold;
	font-size: 21px;
	margin-top: 1em;
	margin-bottom: 0;
}

.presspage .entry-content {
	p:first-child {
		margin-top: .5em;
	}
}

.blog article {
	border-bottom: 1px solid #bbb;
	padding: 35px 0;
}

iframe[src*="map"] {
	filter:grayscale(100%);
}

.entry-content {
	line-height: 1.4;
	h2,h3,h4,h5,h6 {
		margin-bottom: 0;
		font-weight: bold;
		color: $blue;
		+ p {
			margin-top: 0;
		}
	}
	h2 { 
		font-size: 24px; 

		}
	h3 {
		color: $red;
		font-family: "futura-pt";
		font-weight: normal;
		// text-transform: uppercase;
		font-size: 17px;
		font-weight: bold;
		color: $blue;
	}
	strong {
		font-weight: bold;
		color: $dkgray;
		// font-size: 1.3em;
	}
}

.artist-bio {
	line-height: 1.4;
	margin-top: 2rem;
	strong {
		font-weight: normal;
		font-weight: bold;
		color: $dkgray;
	}
	figcaption {
		display: none;
	}
}

.artist-news {
	line-height: 1.4;
}

.artist-news-item {
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 0px;
	h3 {
		margin-top: 1em;
		font-weight: bold;
		color: $gray;
		color: #000;
		font-family: "futura-pt";
		font-size: 21px;
		line-height: 1;

	}
	.artist-news-logo {
		line-height: 0;
	}

	.artist-news-name {
		font-family: futura-pt;
		strong {
			// font-weight: normal;
		}
	}

	.artist-news-date, .artist-news-byline {
		// font-size: 15px;
		font-family: "futura-pt";
	}
	.artist-original-link {
		// font-size: 15px;
		text-decoration: none;
		font-family: futura-pt;
		font-weight: bold;
	}
	.artist-news-readmore {
		// position: absolute;
		// bottom: 0;
		// right: 0;
		// display: block;
		// font-weight: bold;
		text-decoration: none;
		text-transform: lowercase;
		font-family: "futura-pt";
		// font-size: 15px;
	}

	+ .artist-news-item {
		border-top: 1px solid #ccc;
	}
}

.collapser {
	overflow: hidden;
	transition: .4s height ease;
	> p {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

figcaption {
	font-size: 14px;
	line-height: 20px;
	font-family: futura-pt;
}

.artist-slider-yay {
	// opacity: 0;
	position: fixed!important;
	background:rgba(#fff, 1);
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include breakpoint($phone) {
		.flickity-prev-next-button {
			display: none;
		}
	}
}

#yay-close {
	position: absolute;
	font-family: "futura-pt";
	font-weight: bold;
	width: 40px;
	height: 40px;
	background:rgba(#fff, .5) url(images/close.png) 50% 50% no-repeat;
	background-size: contain;
	top: 10px;
	right: 10px;
	border-radius: 100%;
	z-index: 100000;
	cursor: pointer;
	// color: #f0f;
	// background-color: #f0f;
}

	.artist-slide-caption {
		display: block;
		font-size: 14px;
		white-space: pre-line;
		font-family: futura-pt;
		text-align: center;
	}

.artist-slide {
	padding: 10px;
	width: 85vw;
	width: 100%;
	height:80vh;
	// background:#f0f;
	margin-top: 6vh;
	display: flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	text-align: center;
	.artist-slide-caption {
		font-size: 14px;
		white-space: pre-line;
	}
	.artist-slide-art {
		margin-bottom: 22px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		height:62vh;
		width: calc(100% - 120px);
		@include breakpoint($phone) {
			width: 100%;
		}
		img {
			//object-fit: contain;
			//height: 100%;
			 display: none;
		}
	}
}

#artistnews, #videos, #biography, #publications {
	// padding-top: 100px;
	// margin-top: 0;
	@include clearfix;
}

.has-anchor {
	// outline: thin red dotted;
	position: relative;
	clear: both;
	.the-anchor {
		width: 1px;
		height: 1px;
		overflow: hidden;
		// outline: thin red dotted;
		// pointer-events: none;
		position: absolute;
		@include breakpoint($phone) {
			top: -100px;
		}
	}
}

.home .slider-wrapper {
	// outline: thin red dotted;
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: calc(100vw - 0px);
	position: relative;
	right: 50%;
	width: calc(100vw - 0px);
}

// siedbar

.sidebar-menu-title {
	color: $blue;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: .5em;
}

.sidebar-navigation {
	columns:2;
	a {
		font-size: 14px;
		color: $gray;
		text-decoration: none;
		&:hover {
			color: $blue;
		}
	}
}

.artist-grid,  {
	margin-top: 2rem;
	display:grid;
	grid-gap:55px 25px;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	// font-size: 0;
	@include breakpoint($phone) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 50px 15px;
	}

	.artist-in-grid {
		// font-size: 0px;
		cursor: pointer;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items:center;
		color: #000;
		img {
			width: 100%;
			height: auto;
		}
		h2 {
			// font-size: 1.2rem;
			font-size: inherit;
			font-family: 'futura-pt';
			margin-top: .3em;
			@include breakpoint($phone) {
				font-size: .9rem;
				text-align: center;
			}
		}
	}
	.single-artist &, .single-exhibition & {
		grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		font-size: 0;
		grid-gap: 40px 30px;
		@include breakpoint($phone) {
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			grid-template-columns: 1fr 1fr;
			grid-gap: 60px 15px;
		}
	}
}



.homepage-title {
	text-align: center;
	margin-top: 1em;
	font-size: 3rem;
	@include breakpoint($phone) {
		font-size: 1.85rem;
	}
}

.exhibition-grid {
	display: grid;
	grid-gap: 20px;
	margin-bottom: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	&.past {
		margin-bottom: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		@include breakpoint($phone) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 10px;
		}
	}
	&.homepage {
		grid-template-columns: 1fr 1fr 1fr;
		margin: 3rem 0;
		grid-gap: 10px;
	}
	@include breakpoint($phone) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px;
	}
}

.exhibition-item {
	font-family: "futura-pt";
	font-size: 14px;
	line-height: 1.4;
	img {
		width: 100%;
		height: auto;
		margin-bottom: .6rem;
	}
	a {
		text-decoration: none;
	}
	.past & {
		line-height: 1.3;
		font-size: 12px;
	}
	.exhibition-item-title {
		font-size: 1.0em;
		display: block;
		margin-bottom: 0;	
		.pre-title {
			font-weight: normal;
			text-transform: uppercase;
			font-size: .75em;
			margin-bottom: -.15em;
		}
	}

}

.single-artist .gallery {
	display:grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	figure {
		text-align: center;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
}

.single-artist h2 {
	font-family: 'futura-pt';
	// font-weight: bold;
	// color: $gray;
	text-transform: uppercase;
}

.magic-attachment {
	text-align: center;

	max-width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.inquire-button {
	margin-top: 10px;
	display: inline-block;
	padding: .3em 1.1em;
	color: #000;
	border:1px solid #000;
	text-decoration: none;
	// font-family: futura-pt;
	// text-transform: uppercase;
	&:hover {
		// color: $blue;
		border-color: $blue;
	}
}

.entry-content.inquire-page {
	img {
		height: auto;
	}
	.content-column:first-child {
		padding-right: 20px;
	}
}

.featured-image-with-caption {
	img {
		// width: 100%;
		max-width: 100%;
		display: block;
		margin-bottom: 12px;
	}
	font-size: 14px;
	line-height: 20px;
	font-family: futura-pt;
	white-space: pre-line;
}

// footer

.totop {
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 24px;
	box-shadow:
  0 0px 1px rgba(0, 0, 0, 0.024),
  0 0px 3.4px rgba(0, 0, 0, 0.036),
  0 0px 15px rgba(0, 0, 0, 0.06)
;
	i {
		position: relative;
		top: -.1em;
	}
}

.footer-wrapper {
	padding: 0 20px 40px;
	font-family: "futura-pt";
}

.footer-logo {
	flex: 0 0 60px;
	@include breakpoint($phone) {
		flex: 0 0 36px;
	}
}

.footer-inner {
	&.noline {
		border: none;
		margin-top: -1rem;
	}
	// text-transform: uppercase;
	font-size: 16px;
	border-top: 1px solid $ltgray;
	display: flex;
	justify-content:space-around;
	align-items:center;
	max-width: $site-width;
	margin: 0 auto;
	color: $dkgray;
	// background:$ltgray;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	@include breakpoint($phone) {
		font-size: 18px;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	.phone {
		@include breakpoint($phone) {
			font-size: 1.4em;
			margin-top: .6em;
			display: inline-block;
		}
	}
	.footer-social {
		max-width: 80%;
		@include breakpoint($phone) {
			margin-top: 1.5rem;
			// transform:scale(1.8);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1.5rem;
		}
		a {
			color: #000;
			display: inline-block;
			width: 20px;
			height: 20px;
			font-size: 13px;
			border:1px solid #000;
			margin: 0 .2em;
			@include breakpoint($phone) {
				width: 37px;
				height: 37px;
				line-height: 37px;
				font-size: 22px;
			}
			&:last-child {
				position: relative;
				i {
					position: relative;
					top: -1px;
				}
			}
		}
	}
	.sep {
		margin: 0 .4em;
		@include breakpoint($phone) {
			display: block;
			font-size: 0;
		}
	}
	@include breakpoint($phone) {
		display: block;
		.footer-logo {
			max-width: 80px;
			margin-top: 1rem;
			margin-bottom: .5rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

a.joinus {
	// max-width: 120px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: eb-garamond;
	color: $blue;
	font-weight: bold;
	font-size: 1.2em;
	i {
		margin-right: .5em;
	}
}

.gform_button {
	font-family: "futura-pt";
	-webkit-appearance: none;
	background: #888;
	border:1px solid #000;
	font-size: 13px;
	padding: 4px 20px;
	border-radius: 1in;
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: normal;
	border: none;
	color: #333;
	display: inline-block;
	// font-family: "";
	background: linear-gradient(#ddd, #aaa);
		box-shadow:
  0 0px 1px rgba(0, 0, 0, 0.024),
  0 0px 3.4px rgba(0, 0, 0, 0.036),
  0 0px 15px rgba(0, 0, 0, 0.06)
;
	&:hover {
		// background: $blue;
		background: linear-gradient(#aaa, #ddd);
		// box-shadow: 0px 0px 10px $blue;
	}
	@include breakpoint($phone) {
		// display: inline-block;
		max-width: 190px;
		margin-left: auto;
		margin-right: auto;
	}
}

html .gform_wrapper {
	margin-top: 0;
}

html .gform_wrapper h3.gform_title {
	margin-top: 0;
}

html .gform_wrapper label.gfield_label, html .gform_wrapper legend.gfield_label {
	font-weight: normal;
	font-family: futura-pt;
}

html .gform_wrapper label.gfield_label, html .gform_wrapper legend.gfield_label {
	text-transform: uppercase;
	font-family: futura-pt;
}

html .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
	text-transform: uppercase;
	font-family: futura-pt;
}

html .gform_wrapper .gfield_checkbox li label, html .gform_wrapper .gfield_radio li label {
	font-size: 1em;
}