.navigation-wrapper {
	// background:$medium;
	// box-shadow: 0px 6px 15px rgba(#000, .3);
	// position: relative;
	// z-index: 10;
	position: sticky; 
	top: 0;
}

.navigation-inner {

}

.main-menu {
	ul {
		margin: 0;
	}
}

.main-menu {
	position: relative;
	text-align: center;   // change for center / left / right menus
	margin: 0;
	list-style:none;
	li {
		display: inline-block;
		position: relative;
		text-align: left;
		a {
			display: block;
			padding: .5em;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			color: #fff;
			&:hover {
				color: #000;
				background-color: $light; 
			}
		}
	}
	.sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		background:inherit; // inherits from parent li, defined below
		min-width: 100%;
		li {
			display: block;
			white-space: nowrap;
		}
	}
}


.main-menu > li {
	&:hover {
		background:$navy;
		.sub-menu {
			display: block;
			z-index: 100;
			@include breakpoint($phone) {
				display: none;
			}
		}
	}
}



@include breakpoint($phone) {
	
	$menu-height : 50px;

	body {
		margin-top: $menu-height;
	}

	.main-menu {
		position: fixed;
		background: $medium;
		top: $menu-height;
		bottom: -80px; /*fix for ios jump on scroll*/
		padding-bottom: 80px; /*fix for ios jump on scroll*/
		left: 0;
		width: 70%;
		// margin-left: -70%;
		transform:translateX(-100%);
		will-change: transform;
		transition:.4s;
		overflow-y:auto;
		overflow-x:hidden;
		z-index: 100;
		text-align: left;
		padding-top: .5em;

		.sub-menu{
			display: block;
			display: none;
			position: static;
			background: none;
			background-color:rgba(#000, .2);
			li {
				position: relative;
				white-space: initial;
				a {
				}
			}
		}

		> li, {
			display: block;
			position: relative;
			&.menu-item-has-children a {
				position: relative;
			}
			&.menu-item-has-children > a > span { // outer span is button 
				position: absolute;
				right: 0px;
				top: 0;
				bottom: 0;
				width: 50px;
				display: block;
				background-color: rgba(#000, .1);
				z-index: 1;
				& > span { // inner span, for animation purposes
					background:transparent url(images/down.svg) 50% 50% no-repeat;
					background-size: 20px 10px;
					width: 100%;
					height: 100%;
					display: block;
					transition:.4s;
				}
				&.menu-open span {
					transform:rotate(180deg);
				}
			}
			&:hover {
				background: none;
			}
		}
	}

	#menu-close {
		background:rgba(#000, .7);
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
		display: none;
	}

	.menu-out {
		margin-left: 0;
		transform:translateX(0%);
	}

	.menu-toggle {
		display: block;
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		right: 0;
		background: $navy;
		font-size: 20px;
		line-height: $menu-height;
		padding-left: 16px;
		height: $menu-height;
		box-shadow: 0px 0px 20px 10px rgba(0,0,0,.2);
		text-decoration: none;
		color: #fff;
		-webkit-touch-callout:none!important;
		-webkit-user-select: none!important;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	.menu-toggle span {
			width: 36px;
			height: 6px;
			margin-top: -3px;
			background:#fff;
			position: absolute;
			right: 15px;
			top: $menu-height / 2;
			transition: .4s;
			transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
			transition-timing-function: cubic-bezier(0.535, -0.360, 0.105, 1.005);
			&:before,&:after {
				position: absolute;
				display: block;
				content: "";
				background-color: #fff;
				left: 0;
				right: 0;
				height: 6px;
				transition:.4s;
				transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
				transition-timing-function: cubic-bezier(0.535, -0.360, 0.105, 1.005);
				transform-origin:100% 50%;
			}
			&:before {
				top: -10px;
			}
			&:after {
				bottom: -10px;
			}
	}

	.icon-x span {
			transform:rotate(180deg);
			&:before {

				transform:rotate(45deg) translate(10px, 7.07px) scale(.6, 1);
			}
			&:after {

				transform:rotate(-45deg) translate(10px, -7.07px) scale(.6, 1);
			}
	}

}