html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// WORDPRESS STUFF


h1,h2,h3,h4,h5,h6 {
}

p {
	margin: 1em 0;	
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 12px;
}


.content-inner {
	line-height: 1.4;
}

ul, ol {
	list-style-type: disc;
	line-height: 1.7;
	margin: 1em 1.5em;
}

ol {
	list-style-type: decimal;
}

blockquote {
	padding: 1em;
	font-style: italic;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


// wordpress stuffs

.alignnone {
    margin: 5px 20px 20px 0;
    height: auto;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
    height: auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
    height: auto;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    height: auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    height: auto;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
    height: auto;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    height: auto;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.wp-caption {
    background: #fff;
    // border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    // padding: 8px 8px 10px;
    text-align: center;
    figcaption {
    	text-align: left;
    }
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
    
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
    
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}