// Usage: @include clearfix

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin breakpoint($width) {
	@media only screen and (max-width: $width) {
		@content;
	}
}

$facebook-color : #3b5998;
$twitter-color : #00aced;

// tint&shade

@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}

// responsive font  :   @include responsive-font(5vw, 35px, 150px, 50px);

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vh', 'height', 'width');
	$min-breakpoint: $min / $responsive-unitless * 100;
	
	@media (max-#{$dimension}: #{$min-breakpoint}) {
	  font-size: $min;
	}
	
	@if $max {
	  $max-breakpoint: $max / $responsive-unitless * 100;
	  
	  @media (min-#{$dimension}: #{$max-breakpoint}) {
	    font-size: $max;
	  }
	}
	
	@if $fallback {
	  font-size: $fallback;
	}
	
	font-size: $responsive;
}