// ##     ##    ###    ########  ####    ###    ########  ##       ########  ######  
// ##     ##   ## ##   ##     ##  ##    ## ##   ##     ## ##       ##       ##    ## 
// ##     ##  ##   ##  ##     ##  ##   ##   ##  ##     ## ##       ##       ##       
// ##     ## ##     ## ########   ##  ##     ## ########  ##       ######    ######  
//  ##   ##  ######### ##   ##    ##  ######### ##     ## ##       ##             ## 
//   ## ##   ##     ## ##    ##   ##  ##     ## ##     ## ##       ##       ##    ## 
//    ###    ##     ## ##     ## #### ##     ## ########  ######## ########  ######  

$site-width : 960px;
$phone : 600px;
$tablet: 800px;

$sidebar : 300px;
$gutter : 3%;

$dkgray: #444;
$gray : #8b827d;
$ltgray: #cec6c0;
$blue:#87d3e5;
$red : #CF3832; 


// $blue: #f0f;
